@import 'src/styles/common.scss';

.comment {
  padding: 2rem;
  border: 1px solid $gray-200;
  background-color: $gray-100;
  overflow: auto;
  width: 100%
}

:global {
  // Apply dark theme
  .cui-theme-dark {
    :local {
      .comment {
        border: 1px solid $gray-200;
        background-color: $gray-dark;
        color: $white;
      }
    }
  }

  // Apply light theme
  .cui-theme-light {
    :local {
      .comment {
        border: 1px solid $gray-200;
        background-color: $gray-100;
        color: $gray;
      }
    }
  }
}
