@import 'src/styles/common.scss';

.commentsUI {
  width: 100%;
  padding: 1rem;
  overflow: auto;

  border: 1px solid $gray-200;
  background-color: $gray-dark;
}

:global {
  // Apply dark theme
  .cui-theme-dark {
    :local {
      .commentsUI {
        border: 1px solid $gray-200;
        background-color: $gray-dark;
        color: $white;
      }
    }
  }

  // Apply light theme
  .cui-theme-light {
    :local {
      .commentsUI {
        border: 1px solid $blue-dark;
        background-color: $white;
        color: $gray;
      }
    }
  }
}
